<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Item Name</th>
                      <th class="">Item Price</th>
                      <th class="">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if current_user.cart.present? %>
                      <% if current_user.cart.cart_items.empty? %>
                        <tr>
                          <td colspan="3">Cart Empty</td>
                        </tr>
                      <% else %>
                      <p><%= current_user.cart.cart_items.count %></p>
                        <% current_user.cart.cart_items.each do |cart_item| %>
                          <tr class="">
                            <td class="">
                              <div class="product-info">
                                <img width="80" src="<%= cart_item.item.image_url %>" alt="image de chat" />
                                <a href="#!"><%= cart_item.item.title %></a>
                              </div>
                            </td>
                            <td class=""><%= number_to_currency(cart_item.item.price) %></td>
                            <td class=""><%= cart_item.id %></td>
                            <td class="">
                              <%= button_to "Delete", cart_item_path(cart_item.id), method: :delete, class: "product-remove" %>
                            </td>
                            <td class="">
                              <%= button_to "Delete", cart_item_path(cart_item.id), method: :delete, class: "product-remove" %>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    <% else %>
                      <tr>
                        <td colspan="3">Cart Empty</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <%= button_to "Order", checkout_create_path(total: @total), class: "btn btn-primary", data: {turbo: false} %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
