<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h2 class="page-name">Discover a mew world</h2>
          <h4>Here are our lastest catpurres</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="products section products-section">
  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-4">
          <div class="product-item">
            <div class="product-thumb">
              <%# <% if item.on_sale? %>
                <%# <span class="badge">Sale</span> %>
              <%# <% end %>
              <% if item.item_picture.attached? %>
                <%= image_tag item.item_picture, style: "width: 360px; height: 360px; object-fit: cover;" %>
              <% end %>
              <div class="preview-meta">
                <ul>
                  </li>
                    <%= button_to carts_path(item_id: item.id), method: :post, data: { turbo: false, item_id: item.id }, class: 'btn btn-primary' do %>
                      <i class="tf-ion-android-cart"></i> Add to Cart
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-content">
              <h4><a href="<%= item_path(item) %>"><%= item.title %></a></h4>
              <p class="price"><%= item.price %> €</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
