<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><%= link_to "Shop", root_path %></li>
					<li><%= link_to "Cart", carts_path %></li>
				</ol>
			</div>
			<div class="col-md-6">
				<ol class="product-pagination text-right">
					<% prev_item = Item.where("id < ?", @item.id).order(id: :desc).first %>
					<% next_item = Item.where("id > ?", @item.id).order(:id).first %>
					<% if prev_item %>
						<li><a href="<%= item_path(prev_item) %>"><i class="tf-ion-ios-arrow-left"></i> Previous</a></li>
					<% end %>
					<% if next_item %>
						<li><a href="<%= item_path(next_item) %>">Next <i class="tf-ion-ios-arrow-right"></i></a></li>
					<% end %>
				</ol>
			</div>
		</div>
		<div class="row mt-20 shop-image">
			<div class="col-md-5 shop-image">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
              <% if @item.item_picture.attached? %>
                <%= image_tag @item.item_picture %>
              <% end %>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2><%= @item.title %></h2>
					<p class="product-price"><%= @item.price %> €</p>
					<p class="product-description mt-20">
						<%= @item.description %>
					</p>
					<br />
					<br />
					<br />
					<br />
					<%= button_to "Add to cart", carts_path(item_id: @item.id), method: :post, class: "btn btn-primary", data: { turbo: false, item_id: @item.id } %>
					<br />
					<%= button_to "Order", checkout_create_path(total: @item.price), class: "btn btn-primary", data: {turbo: false} %>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
</section>

<section class="products related-products section">
  <div class="container">
    <div class="row">
      <div class="title text-center">
        <h2>Related Products</h2>
      </div>
    </div>
    <div class="row">
      <% @items.sample(4).each do |item| %>
        <div class="col-md-3">
          <div class="product-item">
            <div class="product-thumb">
              <% if item.item_picture.attached? %>
                <%= image_tag item.item_picture, style: "object-fit: cover;" %>
              <% end %>
              <div class="preview-meta">
                <ul>
                  <li>
                    <%= button_to carts_path(item_id: item.id), method: :post, data: { turbo: false, item_id: item.id }, class: 'btn btn-primary' do %>
                      <i class="tf-ion-android-cart"></i> Add to Cart
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-content">
              <h4><a href="<%= item_path(item) %>"><%= item.title %></a></h4>
              <p class="price"><%= item.price %> €</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>