<!DOCTYPE html>
<html>
  <head>
    <title>Projet Chaton</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicon -->
    <%= favicon_link_tag 'favicon.png' %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Themefisher Icon font -->
    <%= stylesheet_link_tag 'style' %>
    
    <!-- Animate css -->
    <%= stylesheet_link_tag 'animate' %>

    <!-- Slick Carousel -->
    <%= stylesheet_link_tag 'slick', 'slick-theme' %>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

  </head>

  <!-- Start Top Header Bar -->
  <section class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-4">
          <div class="logo">
            <%= link_to items_path do %>
              <%= image_tag("logo.png", size: "50x50") %>
            <% end %>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4">
          <!-- Site Logo -->
          <div class="logo text-center">
            <%= link_to items_path do %>
              <%= content_tag :text, class: "brand" do %>
                <%= content_tag :tspan, "PURRFECT & PAWSOME", x: "108.94", y: "325" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4">
          <!-- Cart -->
          <ul class="top-menu text-right list-inline">
            <li class="dropdown cart-nav dropdown-slide">
              <a href="<%= carts_path %>" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
                  class="tf-ion-android-cart"></i>Cart</a>
            </li><!-- / Cart -->

          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="menu">
	<nav class="navbar navigation">
		<div class="container">
			<div class="navbar-header">
				<h2 class="menu-title">Main Menu</h2>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse text-center">
				<ul class="nav navbar-nav">

					<%# <!-- Home -->
					<li class="dropdown ">
						<a href="index.html">Home</a>
					</li><!-- / Home --> %>

					<!-- Elements -->
					<li class="dropdown dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">Shop <span
								class="tf-ion-ios-arrow-down"></span></a>
						<div class="dropdown-menu">
								<!-- Basic -->
								<div>
									<ul>
										<li class="dropdown-header">Pages</li>
										<li role="separator" class="divider"></li>
 										<li><%= link_to "Shop", root_path %></li>
										<li><%= link_to "Cart", carts_path %></li>
									</ul>
								</div>
						</div><!-- / .dropdown-menu -->
					</li><!-- / Elements -->



        <li class="dropdown dropdown-slide">
          <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
            role="button" aria-haspopup="true" aria-expanded="false">Account <span
              class="tf-ion-ios-arrow-down"></span></a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <li><%= link_to "My Profile", profile_path(current_user) %></li>
              <li><%= link_to "Edit profile", edit_user_registration_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
          </ul>
				</li><!-- / Blog -->
			</div>
			<!--/.navbar-collapse -->
		</div><!-- / .container -->
	</nav>
</section>

  <body>
    <% flash.each do |key, value| %>
    <div class="flash <%= key %>">
      <%= value %>
    </div>
    <% end %>

    <%= yield %>
  </body>

    <footer class="footer section text-center fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="social-media">
              <li>
                <a href="https://www.facebook.com/themefisher">
                  <i class="tf-ion-social-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/themefisher">
                  <i class="tf-ion-social-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://www.twitter.com/themefisher">
                  <i class="tf-ion-social-twitter"></i>
                </a>
              </li>
            </ul>
            <ul class="footer-menu text-uppercase">
              <li>
                <%= link_to 'CONTACT', contact_path %>
              </li>
              <li>
                <%= link_to 'TEAM', team_path %>
              </li>
              <li>
                <%= link_to 'ABOUT', about_path %>
              </li>                 
            </ul>
            <p class="copyright-text">Copyright &copy;2023</a></p>
          </div>
        </div>
      </div>
  </footer>
</html>
