<!DOCTYPE html>
<html>
  <head>
    <title>Projet Chaton</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicon -->
    <%= favicon_link_tag 'favicon.png' %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Themefisher Icon font -->
    <%= stylesheet_link_tag 'style' %>
    
    <!-- Animate css -->
    <%= stylesheet_link_tag 'animate' %>

    <!-- Slick Carousel -->
    <%= stylesheet_link_tag 'slick', 'slick-theme' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
